.Phonetic{
    height: 60px;
}

.Phonetic a{
    border: 1px solid #ddd;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 20px;
    transition: all 10ms ease-in-out;
}
.Phonetic a:hover{
    background-color: azure;
    color:black;
}

.Phonetic .text{
    opacity: 0.5;
    font-weight: bold;

}